Package: com.h3xept.tweet
Name: Tweet
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: H3xept
Author: H3xept
Section: Tweaks
Version: 0.0.1-36
Installed-Size: 312
