Package: com.h3xept.tweet
Name: Tweet
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Socials interaction in the lockscreen!
Maintainer: H3xept
Author: H3xept
Section: Tweaks
