Package: com.h3xept.tweet
Name: Tweet
Depends: mobilesubstrate, com.bd452.libpass
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: H3xept
Author: H3xept
Section: Tweaks
